# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index and drop the date column
df.set_index('date', inplace=True)

In [6]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [8]:
from scipy import stats

In [58]:
# Filter data for desired months
df = df.sort_index()
filtered_df = df.loc[(df.index.month == 6)|(df.index.month == 12)]

In [69]:
# Identify the average temperature for June
june_temp = filtered_df.drop(columns=['prcp'])
june_temp = june_temp.loc[june_temp.index.month == 6]

avg_june_temp = june_temp.groupby(june_temp.index.month).mean().round(2)
avg_june_temp

       tobs
date
6     74.94

In [70]:
# Identify the average temperature for December
dec_temp = filtered_df.drop(columns=['prcp'])
dec_temp = dec_temp.loc[dec_temp.index.month == 12]
avg_dec_temp = dec_temp.groupby(dec_temp.index.month).mean().round(2)
avg_dec_temp

       tobs
date
12    71.04

In [ ]:
# Create collections of temperature data

In [74]:
# Run paired t-test

### Analysis