# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index and drop the date column
df.set_index('date', inplace=True)

In [5]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
df = df.sort_index()
filtered_df = df.loc[(df.index.month == 6)|(df.index.month == 12)]
filtered_df = filtered_df.drop(columns=['prcp'])

In [10]:
# Identify the average temperature for June
june_temp = filtered_df.loc[filtered_df.index.month == 6]

avg_june_temp = june_temp.groupby([june_temp.index.month,'station']).mean().round(2)
avg_june_temp

                   tobs
date station
6    USC00511918  74.14
     USC00513117  74.05
     USC00514830  76.01
     USC00516128  71.94
     USC00517948  76.66
     USC00518838  73.39
     USC00519281  73.27
     USC00519397  77.56
     USC00519523  76.67

In [11]:
# Identify the average temperature for December
dec_temp = filtered_df.loc[filtered_df.index.month == 12]
avg_dec_temp = dec_temp.groupby([dec_temp.index.month, 'station']).mean().round(2)
avg_dec_temp

                   tobs
date station
12   USC00511918  69.68
     USC00513117  71.07
     USC00514830  73.22
     USC00516128  69.29
     USC00517948  71.83
     USC00518838  72.42
     USC00519281  69.90
     USC00519397  71.11
     USC00519523  72.43

In [12]:
# Create collections of temperature data
june_temp = avg_june_temp['tobs']
dec_temp = avg_dec_temp['tobs']

In [13]:
# Run paired t-test
stats.ttest_rel(june_temp,dec_temp)

Ttest_relResult(statistic=6.957282000853107, pvalue=0.00011755656731208638)

### Analysis

We use a paired ttest in this situation because we are comparing the means of the same test subjects (stations). Since our pvalue for this ttest is below significance level of .05, we can conclude that difference between the means is statisctically significant.